<ion-header>
  <ion-toolbar>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section>
    <div class="profilIcon">
      <ion-icon style="width: 5em; height: 80px;" name="person-circle-outline"></ion-icon>
    </div>
    <div class="infoUser">
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-label class="paddRight">Flo</ion-label>
    </div>
    <div class="infoUser">
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-label class="paddRight">Test</ion-label>
    </div>
    <div class="infoUser">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label class="paddRight">0639210937</ion-label>
    </div>
    <div class="infoUser">
      <ion-icon name="at-outline"></ion-icon>
      <ion-label class="paddRight">test.er@fr</ion-label>
    </div>
    <div class="infoUser">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label class="paddRight">22 rue des peupliers 60000</ion-label>
    </div>
    <div class="infoUser">
      <ion-icon src='../../../assets/icon/buildings.svg'></ion-icon>
      <ion-label class="paddRight">Chantilly</ion-label>
    </div>
    <div class="infoUser">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label class="paddRight">22/06/1980</ion-label>
    </div>

  </section>

</ion-content>