ion-input {
  border-radius: 5%;
}

ion-row {
  display: flex;
  ion-col {
    justify-content: space-between;
  }
}

.form {
  .errorEmail {
    border-bottom: #ff0062;
    --border-color: #ff0062;
    --highlight-background: #ff0062;
  }
  .goodEmail {
    border-bottom: #12eb48;
    --border-color: #12eb48;
    --highlight-background: #12eb48;
  }
  .forgot {
    margin-top: 0;
    text-align: end;
  }
  .emptyField {
    border-bottom: #ff0062;
    --border-color: #ff0062;
    --highlight-background: #ff0062;
  }
  .filledField {
    border-bottom: #12eb48;
    --border-color: #12eb48;
    --highlight-background: #12eb48;
  }
}
