<ion-header>
  <ion-toolbar>
    <ion-title>Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let course of lstCourses">
    <ion-card-header>
      <div class="authorCourse">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-card-subtitle>{{ course.author }}</ion-card-subtitle>
      </div>
      <ion-card-title>{{ course.title }}</ion-card-title>
    </ion-card-header>
    <div class="descriptionCourse">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-card-content [innerHTML]="course.description"></ion-card-content>
    </div>
    <div class="infosCourse">
      <ion-icon name="time-outline"></ion-icon>
      <ion-card-content>{{ course.infos }}</ion-card-content>
    </div>
    <ion-button expand="block" fill="outline" (click)="goToCourseContent($event, course)">Ouvrir</ion-button>
  </ion-card>

</ion-content>