<ion-header>
  <ion-toolbar>
    <ion-title>Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let feed of feeds">
    <ion-card-header>
      <ion-card-subtitle>{{ feed.author }}</ion-card-subtitle>
      <ion-card-title>{{ feed.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content [innerHTML]="feed.description">
    </ion-card-content>
    <ion-card-content>{{ feed.infos }}</ion-card-content>
    <ion-button expand="block" fill="outline" (click)="goToVideo($event, feed)">Ouvrir</ion-button>
  </ion-card>

</ion-content>